{% if notifications %}
    <div class="notifications-header">
        <a href="#">
            {{ notifications.count }} notifications
        </a>
    </div>

    {% for notification in notifications %}
        {% include 'messenger/includes/partial_notification.html' with notification=notification %}
        <hr>
    {% endfor %}

    <div class="show-notifications text-center">
        <a href="{% url 'notifications' %}">
            View all notifications
        </a>
    </div>
{% else %}
<li><a href="#">No notifications.</a></li>
{% endif %}