<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Product Message</h4>
        <input class="form-control typeahead" type="text" id="product-search" name="product-search" placeholder="Search product" style="width: 550px;">
      </div>
      <div class="modal-body">
        <div class="row products">
                {% for product in products %}
                <div class="col-md-4">
                  {% include 'partials/product_small.html' with product=product %}
                </div>
                {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <nav aria-label="...">
          <ul class="pager" data-current-page="1">
            <li><a href="#" id="prev">&lt;</a></li>
            <li><a href="#" id="next">&gt;</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

{% load static %}
<script src="{% static 'messenger/js/product_message.js' %}"></script>
<script src="{% static 'messenger/js/products.typeahead.js' %}"></script>