<div class="notification">
    <a href="#">
        <div class="row">
            <div class="col-md-2">
                <img src="{{ MEDIA_URL }}{{ notification.from_user.profile.get_picture }}" alt="{{ notification.from_user.username }}" class="img-responsive-small">
            </div>
            <div class="col-md-10">
                <strong>{{ notification.get_notification_header | safe }}</strong>
                <p>{{ notification.get_notification_text | safe }}</p>
                <small><em>{{ notification.date }}</em></small>
            </div>
        </div>
    </a>
</div>