<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h4>New Business User</h4>
    </div>
    <div class="panel-body">
        <form action="{% url 'business_register' %}" id="businessuser_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
            {% endif %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" value="{{ user.username }}" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="30" rows="10" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select name="type" id="type" class="form-control">
                    <option value="ENTERPRISE" selected>Entreprise</option>
                    <option value="INDIVIDUAL">Particulier</option>
                </select>
            </div>
            <input type="submit" value="Create" class="btn btn-raised btn-primary pull-right" id="next">
        </form>
    </div>
</div>