body {
    background-color: #efefff;
}

.navbar {
    background: white;
    border-radius: 0;
    border-bottom: 4px solid lightgreen;
    box-shadow: 1px 2px 4px #505050;
    .navbar-brand {
        font-weight: bold;
        font-size: 1.6em;
    }
    .navbar-form {
        button {
            background-color: lightgreen;
            color: white;
        }
        input[type=text] {
            width: 260px;
            border-radius: 0;
            padding: 5px;
            outline: none;
        }
    }
    .nav {
        a {
            color: black;
            font-weight: bold;
            &:hover {
                color: lightgreen;
            }
        }       
    }
    .dropdown {
        .dropdown-menu a {
            padding: 10px;
        }
    }
}

.product {
    .thumbnail {
        &:hover {
            border-bottom: 4px solid lightgreen;
            .caption h3 {
                color: lightgreen;
            }
        }
    }
}