{% extends 'messenger/base_messages.html' %}
{% load i18n %}

{% block title %}{% trans 'Inbox' %}{% endblock %}

{% block page_header %}{% trans 'Inbox' %}{% endblock %}

{% block container %}
  {% if messages %}
  <div class="row">
    <div class="col-md-8">
        
      <ul class="conversation">
        {% for message in messages %}
          <li class="message">{% include 'messenger/includes/partial_message.html' with message=message %}</li>
        {% endfor %}
        <li class="send-message">
          <img src="{{ user.profile.get_picture }}" class="picture">
          <div style="margin-top: .3em">
            <form role="form" method="post" action="{% url 'send_message' %}" id="send">
              {% csrf_token %}
              <input type="hidden" name="to" value="{{ active }}">
              <input class="form-control" type="text" name="message" id="new-message" placeholder="Write a message..." maxlength="1000" autocomplete="off">
              {% if product %}
              <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}">
              {% endif %}
            </form>
          </div>
        </li>
      </ul>

      <input type="hidden" id="conversation_user" name="conversation_user" value="{{ activeId }}">

    </div>
    <div class="col-md-4">
      {% for product in products %}
        {% include 'partials/product_small.html' with product=product %}
      {% endfor %}

      <script>
        $(function() {
          $.ajaxSetup({ 
               beforeSend: function(xhr, settings) {
                   function getCookie(name) {
                       var cookieValue = null;
                       if (document.cookie && document.cookie != '') {
                           var cookies = document.cookie.split(';');
                           for (var i = 0; i < cookies.length; i++) {
                               var cookie = jQuery.trim(cookies[i]);
                               // Does this cookie string begin with the name we want?
                               if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                   cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                   break;
                               }
                           }
                       }
                       return cookieValue;
                   }
                   if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                       // Only send the token to relative URLs i.e. locally.
                       xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                   }
               } 
          });

          $('.product-small').on('click', function () {
            var $this = $(this);
            var boutiqueId = $this.attr('data-boutique-id');
            var productId = $this.attr('data-product-id');
            $.ajax({
              url: '/messages/send/product/',
              type: 'POST',
              data: {
                'to': $('#conversation_user').val(),
                'product_id': $this.attr('data-product-id')
              },
              success: function (data) {
                $('.send-message')
                .before("<li class='message'><img src='" + data.user.picture + "' class='picture'>"+
                        "<div>" +
                          "<h5>" +
                            "<small class='pull-right'>" +
                              data.date +
                            "</small>" +
                            "<a href='#'>" +
                              data.user.name + 
                            "</a>" +
                          "</h5>" +
                            "<a href='" + data.link + "'>" +
                              "<img src='" + data.picture + "' class='img-responsive-thumbnail'>" +
                              "<h4>" + data.name + "</h4>" + 
                            "</a>" +
                        "</div></li>");
              }
            });
          });
        });
      </script>

      {% load static %}
      <script src="{% static 'messenger/js/instant_message.js' %}"></script>
    </div>
  </div>
  {% else %}
    <div class="text-center">
      <h4>Your inbox is empty!</h4>
    </div>
  {% endif %}
{% endblock container %}