{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Notifications {% if notifications %}({{ notifications.count }}){% endif %}</h3>
                    <hr>
                    <div class="notifications-list">
                        {% for notification in notifications %}
                            {% include 'messenger/includes/partial_notification.html' with notification=notification %}
                        {% empty %}
                            <div class="text-center">
                                <p>No notifications.</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}