<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load static %}

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'shop/css/bootstrap-material-design.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'shop/css/ripples.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap-slider.min.css' %}">
    
    {% load sass_tags %}
    <link rel="stylesheet" href="{#% sass_src 'shop/scss/theme.scss' %#}">

    <script src="{% static 'shop/js/jquery.min.js' %}"></script>
    <script src="{% static 'shop/js/jquery.form.min.js' %}"></script>
    <script src="{% static 'shop/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'shop/js/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'shop/js/sidebar.js' %}"></script>

    <!-- <script src="{% static 'shop/js/material.min.js' %}"></script>
    <script src="{% static 'shop/js/ripples.min.js' %}"></script> -->
    
    <script src="{% static 'shop/js/mustache.min.js' %}"></script>

    {% load static %}
    <script src="{% static 'messenger/js/check_messages.js' %}"></script>
    <script src="{% static 'messenger/js/check_notification.js' %}"></script>
    <script src="{% static 'shop/js/interactions.js' %}"></script>

    {% block head %}
    {% endblock %}


    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>
<body>
    {% if user.is_authenticated %}
    {% include 'navigation.html' with params=params %}
    {% endif %}
    <div class="container" id="main">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        // $.material.init();
    </script>

    <script src="{% static 'shop/js/reaction-animations.js' %}"></script>
</body>
</html>