<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">MINI</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Notification 1</a></li>
            <li><a href="#">Notification 2</a></li>
            <li><a href="#">Notification 3</a></li>
          </ul>
        </li>
        <li><a href="{% url 'list_boutique' %}"><i class="fa fa-shopping-bag"></i></a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="{% url 'search' %}?{{ params }}" method="get">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" id="search-input" name="q" value="{{ q }}">

          <span class="input-group-btn">
            <button type="submit" class="btn btn-sm btn-primary btn-raised">
              <i class="fa fa-search"></i>
            </button>
          </span>
      </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope"></i></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'inbox' %}">Inbox <span class="badge pull-right" id="unread-count"></span></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'new_message' %}">New message</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ request.user.username}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'edit_user_profile' %}">Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>