<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Mini</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search" action="{% url 'search' %}?{{ params }}" method="get" style="width: 600px;">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" id="search-input" name="q" value="{{ q }}">

          <select name="o" id="order" class="form-control" style="width: 180px;">
            <option value="a" selected>Any</option>
            <option value="me">Most expensive</option>
            <option value="le">Least expensive</option>
            <option value="mr">Newest</option>
            <option value="lr">Oldest</option>
          </select>

          <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
          </div>
      </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'list_boutique' %}">Mes Boutiques</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ request.user.username}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% if request.user.businessuser %}
            <li><a href="{% url 'edit_user' %}">Account Settings</a></li>
            {% else %}
            <li><a href="{% url 'new_boutique' %}">Create Business Account</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'inbox' %}">Inbox</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>