<style>
  #notifications {
    width: 450px;
    padding: 0;
    margin-top: 10px;
    box-shadow: 4px 4px 20px #878787;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
  }
  #notifications hr {
    padding: 0;
    margin: 0;
  }
  .notification {
    color: black;
    padding: 10px 15px;
    margin: 0;
  }
  .notification p {
    color: #787878;
    font-size: 0.9em;
  }
  .notification:hover {
    background-color: #eee;
  }
  .notifications-header a {
    display: block;
    margin: 0;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    background-color: #d9e7d9;
  }
  .show-notifications a {
    display: block;
    margin: 0;
    padding: 20px 15px;
    background-color: #eee;
    text-align: center;
  }
  .notification-badge {
     position:absolute;
     top: 15px;
     right: 0;
     font-size:.7em;
     background:red;
     font-weight: bold;
     color:white;
     width:16px;height:16px;
     text-align:center;
     line-height:16px;
     border-radius:50%;
     box-shadow:0 0 1px #333;
  }
</style>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">MINI</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="notifications-dropdown">
            <i class="fa fa-bell"></i>
            <span class="notification-badge" id="notification-badge" style="display: none;">0</span>
          </a>
          <ul class="dropdown-menu" id="notifications">
          </ul>
        </li>
        <li><a href="{% url 'list_boutique' %}"><i class="fa fa-shopping-bag"></i></a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="{% url 'search' %}?{{ params }}" method="get">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" id="search-input" name="q" value="{{ q }}">

          <span class="input-group-btn">
            <button type="submit" class="btn btn-sm btn-primary btn-raised">
              <i class="fa fa-search"></i>
            </button>
          </span>
      </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope"></i></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'inbox' %}">Inbox <span class="badge pull-right" id="unread-count"></span></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'new_message' %}">New message</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ request.user.username}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'edit_user_profile' %}">Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>