<div class="thumbnail product" style="overflow: auto;">
  <a href="{% url 'detail_product' product.boutique.id product.id %}">
    <img src="{{ MEDIA_URL }}{{ product.image.url }}" alt="{{ product.name }}" class="img-responsive-thumbnail">
  </a>
  <div class="caption">
    <a href="{% url 'detail_product' product.boutique.id product.id %}">
      <h3>{{ product.name }}</h3>
    </a>
    <span class="badge">{{ product.price }} DT</span>
    <p>{{ product.categorie.label }}</p>
    <hr>
    <span class="likes">
    {% if product.like_set.count > 0 %}
    {{ product.like_set.count }} like(s)
    {% endif %}
    </span>
    <button class="btn btn-xs btn-raised btn-default pull-right" style="font-weight: bold;">Wish</button>
    <button class="btn btn-xs btn-raised btn-default pull-right like" style="font-weight: bold;" data-id="{{ product.id }}">
    {% if product.id in liked %}
    Dislike
    {% else %}
    Like
    {% endif %}
    </button>
  </div>
</div>