<div class="panel panel-default sidebar">
    <div class="panel-body">
        <h3>Tous les catégories</h3>
        {% for categorie in categories %}
            <a href="{% url 'search' %}?{{ params }}c={{ categorie.id }}" name="categorie">{{ categorie.label }} ({{ categorie.product_set.count }})</a>
        {% endfor %}
        <hr>
        <h3>Type</h3>
        <select name="type" class="form-control">
            <option value="any">--------</option>
            {% for type in types %}
                <option value="{{ type.id }}">{{ type.label }}</option>
            {% endfor %}
        </select>
        <hr>
        <h3>Prix</h3>
        {% include 'partials/slider.html' with params=params %}
    </div>
</div>

{% load static %}
<script src="{% static 'shop/js/sidebar.js' %}"></script>

