<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h4>New Business User</h4>
        <div class="btn-group" role="group">
            <button class="btn btn-default" data-form-id="businessuser_form" id="businessuser" disabled>BusinessUser</button>
            <button class="btn btn-default" data-form-id="new_boutique_form" id="boutique" disabled>Boutique</button>
        </div>
    </div>
    <div class="panel-body">
        <form action="{% url 'business_register' %}" id="businessuser_form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="30" rows="10" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="picture">Picture</label>
                <input type="file" required id="picture" name="picture" class="form-control">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select name="type" id="type" class="form-control">
                    <option value="ENTERPRISE" selected>Entreprise</option>
                    <option value="INDIVIDUAL">Particulier</option>
                </select>
            </div>
            <input type="submit" value="Next" class="btn btn-default" id="next">
        </form>
        <form action="{% url "new_boutique" %}" id="new_boutique_form" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" id="submit" class="btn btn-success pull-right">
            <button type="button" class="btn btn-default" id="back">Back</button>
        </form>
    </div>
</div>

<script>
    $("document").ready(function () {
        var username = '';
        var description = '';
        var picture = '';
        var type = '';

        $("#new_boutique_form").hide();
        $("#businessuser").addClass("active");
        $("#next").on('click', function (e) {
            e.preventDefault();

            username = $("#username").val();
            description = $("#description").val();
            picture = $("#picture").val();
            type = $("#type").val();

            $("#boutique").toggleClass("active");
            $("#businessuser").toggleClass("active");
            $(this).parent().hide();
            $("#new_boutique_form").show();
        });
        $("#back").on('click', function () {
            $("#boutique").toggleClass("active");
            $("#businessuser").toggleClass("active");
            $(this).parent().hide();
            $("#businessuser_form").show();
        });
        $("#submit").on('click', function (e) {
            e.preventDefault();

            // console.log({
            //     "username": username,
            //     "description": description,
            //     "picture": picture,
            //     "type": type
            // });

            $.ajaxSetup({ 
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                     break;
                                 }
                             }
                         }
                         return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 } 
            });

            $.ajax({
                url: 'register/business',
                type: 'POST',
                data: {
                    'username': username,
                    'description': description,
                    'picture': picture,
                    'type': type
                },
                success: function (data) {
                    e.run();
                }
            });
        });
    });
</script>