#main {
    padding-top: 70px;
}

.img-responsive {
	width: 100%;
	height: auto;
}

.img-responsive-small {
    width: 60px;
    height: auto;
}

.img-responsive-thumbnail {
    height: 120px;
    width: auto;
}

.product:hover {
    text-decoration: none;
    cursor: pointer;
}

.product .badge {
    float: right;
}

.sidebar .panel-body a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.sidebar .panel-body a:hover {
    text-decoration: none;
    color: steelblue;
    cursor: pointer;
}

.add-extra-picture {
    display: block;
    background: #eee;
    padding: 50px;
    width: 110px;
    height: auto;
    font-size: 1.9em;
    color: black;
}

.add-extra-picture:hover {
    text-decoration: none;
}