#main {
    padding-top: 80px;
}

.img-responsive {
	width: 100%;
	height: auto;
}

.img-responsive-small {
    width: 60px;
    height: auto;
}

.img-responsive-thumbnail {
    height: 120px;
    width: auto;
}

.product:hover {
    text-decoration: none;
}

.product .badge {
    float: right;
}

.sidebar .panel-body a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.sidebar .panel-body a:hover {
    text-decoration: none;
    color: steelblue;
    cursor: pointer;
}

.add-extra-picture {
    display: block;
    background: #eee;
    padding: 50px;
    width: 110px;
    height: auto;
    font-size: 1.9em;
    color: black;
}

.add-extra-picture:hover {
    text-decoration: none;
}

.number_input {
    width: 50px;
}

.slider-horizontal {
    width: 160px;
    margin: 0 20px;
}

.sidebar .panel-body .btn-custom {
    padding: 10px 25px;
    border: 1px solid #505050;
    border-radius: 4px;
    color: #505050;
}

.sidebar .panel-body .btn-custom:hover {
    text-decoration: none;
    border-color: steelblue;
    color: steelblue;
}

.subnav {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 55px;
    height: 40px;
    width: 100%;
    background-color: #cceecc;
    z-index: 2;
}

.image-controls {
    float: right;
}

.image-controls .delete-image {
    font-size: 1.8em;
    padding: 4px;
}

.image-controls .delete-image:hover, .image-controls .edit-image:hover {
    cursor: pointer;
    color: steelblue;
}

.image-controls .edit-image {
    font-size: 1.4em;
    padding: 4px;
}

.price-input {
    width: 80px;
}

.price-min {
    float: left;
}

.price-max {
    float: right;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.reaction-slider {
    position: relative;
    padding-bottom: 30px;
}

.reaction-slider .normal, .smile, .love, .wish {
    background: none;
    border: none;
    position: absolute;
}

.reaction-slider .normal {
    left: 80%;
}

.reaction-slider .smile {
    left: 75%;
}

.reaction-slider .love {
    left: 70%;
}

.reaction-slider .wish {
    left: 65%;
}